/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: -10px\9; /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

.body-fixed {
  overflow: hidden; }

.vertically-centred-content {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.dev {
  background: rgba(0, 0, 0, 0.15); }

body.dev * {
  background-color: rgba(0, 0, 0, 0.05); }

/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.carwashes__container {
  width: 100%;
  max-width: 1140px;
  min-width: 768px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center; }
  .carwashes__container:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 1) and (orientation: landscape) {
    .carwashes__container {
      padding: 0 20px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) and (orientation: landscape) {
    .carwashes__container {
      padding: 0 20px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) and (orientation: landscape) {
    .carwashes__container {
      padding: 0 20px; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-device-pixel-ratio: 3) {
    .carwashes__container {
      padding: 0 20px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .carwashes__container {
      padding: 0 20px; } }
  @media screen and (min-width: 631px) and (max-width: 800px) {
    .carwashes__container {
      padding: 0 20px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 1) and (orientation: portrait) {
    .carwashes__container {
      padding: 0 10px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) and (orientation: portrait) {
    .carwashes__container {
      padding: 0 10px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) and (orientation: portrait) {
    .carwashes__container {
      padding: 0 10px; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    .carwashes__container {
      padding: 0 10px; } }
  @media screen and (max-width: 630px) {
    .carwashes__container {
      padding: 0 10px; } }

@font-face {
  font-family: "f_opens";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/OpenSans/opensans-light-webfont.eot");
  src: url("../fonts/OpenSans/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/opensans-light-webfont.woff") format("woff"), url("../fonts/OpenSans/opensans-light-webfont.ttf") format("truetype"), url("../fonts/OpenSans/opensans-light-webfont.svg#f_opens") format("svg"); }
@font-face {
  font-family: "f_opens";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/OpenSans/opensans-regular-webfont.eot");
  src: url("../fonts/OpenSans/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/opensans-regular-webfont.woff") format("woff"), url("../fonts/OpenSans/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans/opensans-regular-webfont.svg#f_opens") format("svg"); }
@font-face {
  font-family: "f_opens";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/OpenSans/opensans-bold-webfont.eot");
  src: url("../fonts/OpenSans/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/opensans-bold-webfont.woff") format("woff"), url("../fonts/OpenSans/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans/opensans-bold-webfont.svg#f_opens") format("svg"); }
@font-face {
  font-family: "f_helvetica";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Helvetica/helveticaneuecyr-light-webfont.eot");
  src: url("../fonts/Helvetica/helveticaneuecyr-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/helveticaneuecyr-light-webfont.woff") format("woff"), url("../fonts/Helvetica/helveticaneuecyr-light-webfont.ttf") format("truetype"), url("../fonts/Helvetica/helveticaneuecyr-light-webfont.svg#f_helvetica") format("svg"); }
@font-face {
  font-family: "f_helvetica";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Helvetica/helveticaneuecyr-medium-webfont.eot");
  src: url("../fonts/Helvetica/helveticaneuecyr-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/helveticaneuecyr-medium-webfont.woff") format("woff"), url("../fonts/Helvetica/helveticaneuecyr-medium-webfont.ttf") format("truetype"), url("../fonts/Helvetica/helveticaneuecyr-medium-webfont.svg#f_helvetica") format("svg"); }
@font-face {
  font-family: "f_helvetica";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Helvetica/helveticaneuecyr-bold-webfont.eot");
  src: url("../fonts/Helvetica/helveticaneuecyr-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/helveticaneuecyr-bold-webfont.woff") format("woff"), url("../fonts/Helvetica/helveticaneuecyr-bold-webfont.ttf") format("truetype"), url("../fonts/Helvetica/helveticaneuecyr-bold-webfont.svg#f_helvetica") format("svg"); }
body {
  color: black; }

p {
  margin-top: 0;
  margin-bottom: 16px; }

strong {
  font-weight: 600; }

html * {
  max-height: 99990px; }

.carwashes__section.carwashes__business .carwashes__container {
  padding-top: 100px;
  padding-bottom: 100px; }
  .carwashes__section.carwashes__business .carwashes__container .carwashes__block {
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 0; }
    .carwashes__section.carwashes__business .carwashes__container .carwashes__block .carwashes__text {
      display: inline-block;
      vertical-align: top;
      margin: 0; }
    .carwashes__section.carwashes__business .carwashes__container .carwashes__block .carwashes__left {
      width: 50%;
      font-family: "f_opens", "Open Sans", sans-serif;
      font-weight: 300; }
      .carwashes__section.carwashes__business .carwashes__container .carwashes__block .carwashes__left .carwashes__text-left.carwashes__left-1 {
        font-size: 16px;
        margin-left: 5px; }
      .carwashes__section.carwashes__business .carwashes__container .carwashes__block .carwashes__left .carwashes__text-left.carwashes__left-2 {
        margin-top: 10px;
        font-size: 63.46px;
        line-height: 69.01px;
        text-transform: uppercase; }
      .carwashes__section.carwashes__business .carwashes__container .carwashes__block .carwashes__left .carwashes__dash {
        margin-top: 25px;
        height: 3px;
        width: 130px;
        background-color: red; }
    .carwashes__section.carwashes__business .carwashes__container .carwashes__block .carwashes__right {
      margin-top: 60px;
      padding-right: 5%;
      width: 50%; }
      .carwashes__section.carwashes__business .carwashes__container .carwashes__block .carwashes__right p {
        font-family: "f_opens", "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 26px; }

.carwashes__section.carwashes__new_level {
  position: relative;
  background-color: #EEF3ED; }
  .carwashes__section.carwashes__new_level .carwashes__container {
    text-align: left;
    padding-top: 100px;
    padding-bottom: 100px; }
    .carwashes__section.carwashes__new_level .carwashes__container .carwashes__block-text {
      width: 69%;
      opacity: 0.7; }
      .carwashes__section.carwashes__new_level .carwashes__container .carwashes__block-text .carwashes__text-item {
        font-family: "f_helvetica", "Helvetica", sans-serif;
        font-weight: 300; }
      .carwashes__section.carwashes__new_level .carwashes__container .carwashes__block-text .carwashes__item-1 {
        font-size: 35.1px;
        line-height: 50.71px;
        margin-bottom: 20px; }
      .carwashes__section.carwashes__new_level .carwashes__container .carwashes__block-text .carwashes__item-2 {
        font-size: 16px;
        line-height: 26px;
        text-align: justify; }
  .carwashes__section.carwashes__new_level .carwashes__cleaner-pic {
    position: absolute;
    bottom: 0;
    right: 3.5%;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%; }

.carwashes__section.carwashes__four_programs .carwashes__container {
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: left; }
  .carwashes__section.carwashes__four_programs .carwashes__container .carwashes__blocks {
    ptext-align: left;
    padding: 0;
    margin: 0;
    font-size: 0; }
    .carwashes__section.carwashes__four_programs .carwashes__container .carwashes__blocks .carwashes__block {
      display: inline-block;
      margin: 0;
      text-align: left; }
    .carwashes__section.carwashes__four_programs .carwashes__container .carwashes__blocks .carwashes__block.carwashes__left {
      width: 50%;
      vertical-align: top; }
      .carwashes__section.carwashes__four_programs .carwashes__container .carwashes__blocks .carwashes__block.carwashes__left .carwashes__left {
        display: inline-block;
        vertical-align: bottom; }
      .carwashes__section.carwashes__four_programs .carwashes__container .carwashes__blocks .carwashes__block.carwashes__left .carwashes__left-1 {
        margin-right: 25px;
        color: #e40000;
        font-family: "f_opens", "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 136.46px;
        line-height: 110px; }
      .carwashes__section.carwashes__four_programs .carwashes__container .carwashes__blocks .carwashes__block.carwashes__left .carwashes__left-2 {
        margin-bottom: 10px;
        font-family: "f_helvetica", "Helvetica", sans-serif;
        font-weight: 300; }
        .carwashes__section.carwashes__four_programs .carwashes__container .carwashes__blocks .carwashes__block.carwashes__left .carwashes__left-2 .carwashes__left-2-1 {
          opacity: 0.9;
          text-transform: uppercase;
          font-size: 35.1px; }
        .carwashes__section.carwashes__four_programs .carwashes__container .carwashes__blocks .carwashes__block.carwashes__left .carwashes__left-2 .carwashes__left-2-2 {
          margin-top: 10px;
          opacity: 0.7;
          font-size: 16px; }
    .carwashes__section.carwashes__four_programs .carwashes__container .carwashes__blocks .carwashes__block.carwashes__right {
      margin-top: 30px;
      width: 50%;
      opacity: 0.7;
      font-family: "f_helvetica", "Helvetica", sans-serif;
      font-weight: 300; }
      .carwashes__section.carwashes__four_programs .carwashes__container .carwashes__blocks .carwashes__block.carwashes__right .carwashes__right-1 {
        font-size: 16px;
        line-height: 26px; }
        .carwashes__section.carwashes__four_programs .carwashes__container .carwashes__blocks .carwashes__block.carwashes__right .carwashes__right-1 strong {
          font-weight: 600; }
      .carwashes__section.carwashes__four_programs .carwashes__container .carwashes__blocks .carwashes__block.carwashes__right .carwashes__right-2 {
        margin-top: 50px;
        padding-left: 60px;
        width: 360px;
        font-size: 14px;
        line-height: 21px;
        background-image: url("../pics/section.four_programs.drop.svg");
        background-repeat: no-repeat;
        background-position: 0 5px; }

.carwashes__section.carwashes__main_car_animation {
  position: relative;
  height: 100vh;
  background-color: #97e5ec;
  overflow: hidden; }
  .carwashes__section.carwashes__main_car_animation .carwashes__ipad-scroll {
    position: absolute;
    top: 45%;
    width: 100%;
    left: 0;
    padding: 0 30px;
    display: none; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 1) and (orientation: landscape) {
      .carwashes__section.carwashes__main_car_animation .carwashes__ipad-scroll {
        padding: 0 20px; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) and (orientation: landscape) {
      .carwashes__section.carwashes__main_car_animation .carwashes__ipad-scroll {
        padding: 0 20px; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) and (orientation: landscape) {
      .carwashes__section.carwashes__main_car_animation .carwashes__ipad-scroll {
        padding: 0 20px; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-device-pixel-ratio: 3) {
      .carwashes__section.carwashes__main_car_animation .carwashes__ipad-scroll {
        padding: 0 20px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      .carwashes__section.carwashes__main_car_animation .carwashes__ipad-scroll {
        padding: 0 20px; } }
    @media screen and (min-width: 631px) and (max-width: 800px) {
      .carwashes__section.carwashes__main_car_animation .carwashes__ipad-scroll {
        padding: 0 20px; } }
    .carwashes__section.carwashes__main_car_animation .carwashes__ipad-scroll .carwashes__scroll-btn-prev {
      float: left;
      -webkit-transform: scale(-1, 1);
              transform: scale(-1, 1); }
    .carwashes__section.carwashes__main_car_animation .carwashes__ipad-scroll .carwashes__scroll-btn-next {
      float: right; }
    .carwashes__section.carwashes__main_car_animation .carwashes__ipad-scroll .carwashes__scroll-btn:hover {
      opacity: 0.6;
      cursor: pointer; }
  .carwashes__section.carwashes__main_car_animation .carwashes__caption {
    position: absolute;
    top: 45%;
    left: -2%;
    color: white;
    font-family: "f_helvetica", "Helvetica", sans-serif;
    font-weight: 600;
    font-size: 150px;
    text-transform: uppercase;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
    .carwashes__section.carwashes__main_car_animation .carwashes__caption .carwashes__comment {
      font-size: 16px;
      width: 250px;
      padding-left: 30px;
      margin-left: 15px;
      margin-top: -15px;
      background-image: url("../pics/section.main_car_animation.mineral.png");
      background-repeat: no-repeat; }
  .carwashes__section.carwashes__main_car_animation .carwashes__container {
    height: 100vh;
    min-height: 400px;
    padding-top: 5vh;
    text-align: left;
    font-size: 0; }
    .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__program-cont {
      position: relative;
      display: inline-block;
      width: 50%;
      vertical-align: top;
      opacity: 0.7; }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__program-cont .carwashes__program {
        position: absolute;
        width: 300px;
        font-family: "f_helvetica", "Helvetica", sans-serif;
        font-weight: 300;
        font-size: 35.1px;
        line-height: 50.71px;
        text-transform: uppercase; }
    .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-cont {
      position: relative;
      display: inline-block;
      width: 45%;
      opacity: 0.7; }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-cont .carwashes__info {
        position: absolute;
        font-family: "f_helvetica", "Helvetica", sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        color: black; }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-cont .carwashes__info-1 {
        width: 400px; }
        .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-cont .carwashes__info-1 .carwashes__button {
          display: inline-block;
          margin-right: 10px;
          padding: 15px 30px;
          border: 2px solid #3aa8b3;
          border-radius: 100px;
          cursor: pointer; }
        .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-cont .carwashes__info-1 .carwashes__button:last-child {
          margin-right: 0; }
        .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-cont .carwashes__info-1 .carwashes__button:hover {
          color: white;
          background-color: #3aa8b3; }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-cont .carwashes__info-2 img {
        opacity: 1;
        margin-bottom: 10px; }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-cont .carwashes__info-2 p {
        margin: 0; }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-cont .carwashes__info-2 p:last-of-type {
        font-weight: 600; }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-cont .carwashes__info-4 p:first-child {
        margin-bottom: 20px; }
    .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__content-container {
      position: absolute;
      top: 60%;
      left: 50%;
      width: 630px;
      height: 300px;
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%); }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__content-container .carwashes__content {
        position: absolute;
        background-repeat: no-repeat; }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__content-container .carwashes__cleaner {
        bottom: 35px;
        right: 75px;
        width: 140px;
        height: 300px;
        background-image: url("../pics/section.main_car_animation.cleaner.png"); }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__content-container .carwashes__round {
        height: 10px;
        width: 10px;
        right: 145px;
        background-color: white;
        border: 3px solid #ff1300;
        border-radius: 100px;
        opacity: 0;
        -webkit-transition-delay: 0ms;
                transition-delay: 0ms;
        -webkit-transition-duration: 500ms;
                transition-duration: 500ms; }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__content-container .carwashes__round-1 {
        bottom: 250px; }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__content-container .carwashes__round-2 {
        bottom: 240px; }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__content-container .carwashes__round-3 {
        bottom: 230px; }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__content-container .carwashes__round-4 {
        bottom: 220px; }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__content-container .carwashes__car-shadow {
        bottom: 0;
        left: 45px;
        width: 569px;
        height: 44px;
        background-image: url("../pics/section.main_car_animation.car_shadow.png"); }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__content-container .carwashes__car {
        bottom: 17px;
        width: 630px;
        height: 193px;
        opacity: 0;
        -webkit-transition-delay: 0ms;
                transition-delay: 0ms;
        -webkit-transition-duration: 500ms;
                transition-duration: 500ms; }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__content-container .carwashes__car-1 {
        background-image: url("../pics/section.main_car_animation.car1.png"); }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__content-container .carwashes__car-2 {
        background-image: url("../pics/section.main_car_animation.car2.png"); }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__content-container .carwashes__car-3 {
        background-image: url("../pics/section.main_car_animation.car3.png"); }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__content-container .carwashes__car-4 {
        background-image: url("../pics/section.main_car_animation.car4.png"); }
    .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-bottom-cont {
      position: absolute;
      width: 100%;
      left: 0;
      padding: 0 30px;
      height: 100px;
      bottom: 3vh;
      font-size: 0;
      text-align: left; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 1) and (orientation: landscape) {
        .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-bottom-cont {
          padding: 0 20px; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) and (orientation: landscape) {
        .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-bottom-cont {
          padding: 0 20px; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) and (orientation: landscape) {
        .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-bottom-cont {
          padding: 0 20px; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-device-pixel-ratio: 3) {
        .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-bottom-cont {
          padding: 0 20px; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-bottom-cont {
          padding: 0 20px; } }
      @media screen and (min-width: 631px) and (max-width: 800px) {
        .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-bottom-cont {
          padding: 0 20px; } }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-bottom-cont .carwashes__bottom-left-cont {
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 50%; }
        .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-bottom-cont .carwashes__bottom-left-cont .carwashes__bottom-left {
          position: absolute; }
          .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-bottom-cont .carwashes__bottom-left-cont .carwashes__bottom-left .carwashes__text {
            font-family: "f_helvetica", "Helvetica", sans-serif;
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            opacity: 0.7; }
      .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-bottom-cont .carwashes__bottom-right-cont {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        position: relative; }
        .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-bottom-cont .carwashes__bottom-right-cont .carwashes__bottom-right {
          position: absolute;
          font-family: "f_helvetica", "Helvetica", sans-serif; }
          .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-bottom-cont .carwashes__bottom-right-cont .carwashes__bottom-right img {
            position: absolute;
            left: 0;
            top: -70px; }
            @media screen and (max-height: 750px) {
              .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-bottom-cont .carwashes__bottom-right-cont .carwashes__bottom-right img {
                display: none; } }
          .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-bottom-cont .carwashes__bottom-right-cont .carwashes__bottom-right .carwashes__title {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            opacity: 0.7;
            margin-bottom: 10px; }
          .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-bottom-cont .carwashes__bottom-right-cont .carwashes__bottom-right .carwashes__text {
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            opacity: 0.7; }
        .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-bottom-cont .carwashes__bottom-right-cont .carwashes__bottom-right-1-1 .carwashes__text, .carwashes__section.carwashes__main_car_animation .carwashes__container .carwashes__info-bottom-cont .carwashes__bottom-right-cont .carwashes__bottom-right-1-2 .carwashes__text {
          opacity: 0.4;
          font-size: 14px;
          line-height: 21px; }

.carwashes__car-active {
  opacity: 1 !important;
  -webkit-transition-delay: 500ms !important;
          transition-delay: 500ms !important; }

.carwashes__car-element-passive {
  opacity: 0;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  -webkit-transition-duration: 500ms, 500ms;
          transition-duration: 500ms, 500ms;
  -webkit-transform: translate3D(0, -50px, 0);
          transform: translate3D(0, -50px, 0);
  -webkit-transition-property: opacity, -webkit-transform;
          transition-property: opacity, transform; }

.carwashes__car-element-active {
  opacity: 1 !important;
  -webkit-transition-delay: 500ms, 0ms !important;
          transition-delay: 500ms, 0ms !important;
  -webkit-transform: translate3D(0, 0, 0) !important;
          transform: translate3D(0, 0, 0) !important; }

.carwashes__button-active {
  color: white !important;
  background-color: #3aa8b3 !important; }

.carwashes__scroll-btn-inactive {
  opacity: 0.3; }

.carwashes__scroll-btn-inactive:hover {
  opacity: 0.3 !important;
  cursor: default; }

.carwashes__caption-iPad {
  top: 22% !important;
  left: 30px !important;
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 1) and (orientation: landscape) {
    .carwashes__caption-iPad {
      left: 20px !important; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2 / 3) and (orientation: landscape) {
    .carwashes__caption-iPad {
      left: 20px !important; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40 / 71) and (orientation: landscape) {
    .carwashes__caption-iPad {
      left: 20px !important; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-device-pixel-ratio: 3) {
    .carwashes__caption-iPad {
      left: 20px !important; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .carwashes__caption-iPad {
      left: 20px !important; } }
  @media screen and (min-width: 631px) and (max-width: 800px) {
    .carwashes__caption-iPad {
      left: 20px !important; } }

.carwashes__section.carwashes__pause {
  background-color: #EEF3 #D; }
  .carwashes__section.carwashes__pause .carwashes__container {
    padding-top: 80px;
    padding-bottom: 80px; }
    .carwashes__section.carwashes__pause .carwashes__container .carwashes__center-cont {
      text-align: left;
      padding: 0;
      margin: 0;
      font-size: 0; }
      .carwashes__section.carwashes__pause .carwashes__container .carwashes__center-cont .carwashes__block {
        display: inline-block;
        vertical-align: top; }
      .carwashes__section.carwashes__pause .carwashes__container .carwashes__center-cont .carwashes__block.carwashes__left {
        position: relative;
        text-align: center;
        width: 50%;
        font-family: "f_helvetica", "Helvetica", sans-serif;
        font-weight: 300;
        padding-right: 15%;
        padding-left: 5%; }
        .carwashes__section.carwashes__pause .carwashes__container .carwashes__center-cont .carwashes__block.carwashes__left .carwashes__left-1 {
          opacity: 0.7;
          font-size: 16px;
          line-height: 26px; }
        .carwashes__section.carwashes__pause .carwashes__container .carwashes__center-cont .carwashes__block.carwashes__left .carwashes__left-2 {
          opacity: 0.7;
          font-size: 35.1px;
          text-transform: uppercase; }
        .carwashes__section.carwashes__pause .carwashes__container .carwashes__center-cont .carwashes__block.carwashes__left .carwashes__button {
          position: absolute;
          bottom: -280px;
          left: 40%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          z-index: 100; }
      .carwashes__section.carwashes__pause .carwashes__container .carwashes__center-cont .carwashes__block.carwashes__right {
        text-align: left;
        width: 50%;
        font-family: "f_helvetica", "Helvetica", sans-serif;
        font-weight: 300; }
        .carwashes__section.carwashes__pause .carwashes__container .carwashes__center-cont .carwashes__block.carwashes__right .carwashes__right-1 {
          font-size: 16px;
          line-height: 26px;
          opacity: 0.7; }
        .carwashes__section.carwashes__pause .carwashes__container .carwashes__center-cont .carwashes__block.carwashes__right .carwashes__right-2 {
          margin-top: 40px;
          font-size: 14px;
          line-height: 21px;
          opacity: 0.6;
          padding-left: 50px;
          padding-right: 15%;
          background-image: url("../pics/section.pause.!.svg");
          background-repeat: no-repeat;
          background-position: 0 6px; }

.carwashes__section.carwashes__pults {
  position: relative;
  background-color: #242d3a;
  overflow-x: hidden; }
  .carwashes__section.carwashes__pults .carwashes__container {
    padding-top: 150px;
    padding-bottom: 150px; }
    .carwashes__section.carwashes__pults .carwashes__container .carwashes__blocks .carwashes__block {
      color: white;
      text-align: left; }
    .carwashes__section.carwashes__pults .carwashes__container .carwashes__blocks .carwashes__block.carwashes__main {
      width: 63%;
      font-family: "f_helvetica", "Helvetica", sans-serif;
      font-weight: 300; }
      .carwashes__section.carwashes__pults .carwashes__container .carwashes__blocks .carwashes__block.carwashes__main .carwashes__main-1 {
        opacity: 0.9;
        text-transform: uppercase;
        font-size: 35.1px;
        line-height: 50.71px; }
      .carwashes__section.carwashes__pults .carwashes__container .carwashes__blocks .carwashes__block.carwashes__main .carwashes__main-2 {
        color: #b9d3f5;
        opacity: 0.8;
        font-size: 16px;
        line-height: 26px;
        margin-top: 20px; }
    .carwashes__section.carwashes__pults .carwashes__container .carwashes__blocks .carwashes__block.carwashes__parts {
      margin-left: 5%;
      margin-top: 5%;
      font-family: "f_helvetica", "Helvetica", sans-serif;
      font-size: 16px;
      line-height: 30px;
      cursor: pointer; }
      .carwashes__section.carwashes__pults .carwashes__container .carwashes__blocks .carwashes__block.carwashes__parts td {
        padding: 1% 2%; }
        .carwashes__section.carwashes__pults .carwashes__container .carwashes__blocks .carwashes__block.carwashes__parts td .carwashes__caption {
          color: #52b7f7;
          font-weight: 600; }
        .carwashes__section.carwashes__pults .carwashes__container .carwashes__blocks .carwashes__block.carwashes__parts td p {
          opacity: 0.6;
          color: #b9d3f5;
          font-weight: 300; }
  .carwashes__section.carwashes__pults .carwashes__block.carwashes__cleaner {
    position: absolute;
    right: 18%;
    bottom: 50%;
    -webkit-transform: translateY(50%) translateX(50%);
            transform: translateY(50%) translateX(50%); }

.carwashes__pult-td-active {
  color: white !important; }

.carwashes__section.carwashes__slideshow {
  background-color: white;
  min-height: 150vh;
  width: 100%;
  position: relative; }
  .carwashes__section.carwashes__slideshow .carwashes__container {
    height: 100vh;
    padding-top: 5%;
    color: black;
    text-align: left; }
    .carwashes__section.carwashes__slideshow .carwashes__container .carwashes__block.carwashes__pinned .carwashes__title {
      width: 300px;
      opacity: 0.7;
      font-family: "f_helvetica", "Helvetica", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 35.1px;
      line-height: 50.71px; }
    .carwashes__section.carwashes__slideshow .carwashes__container .carwashes__block.carwashes__pinned .carwashes__info {
      margin-top: 5%;
      width: 260px;
      font-family: "f_helvetica", "Helvetica", sans-serif;
      font-size: 16px;
      line-height: 26px; }
      .carwashes__section.carwashes__slideshow .carwashes__container .carwashes__block.carwashes__pinned .carwashes__info .carwashes__caption {
        font-weight: 600; }
      .carwashes__section.carwashes__slideshow .carwashes__container .carwashes__block.carwashes__pinned .carwashes__info .carwashes__text {
        margin-top: 10px;
        opacity: 0.6;
        font-weight: 300; }
      .carwashes__section.carwashes__slideshow .carwashes__container .carwashes__block.carwashes__pinned .carwashes__info a.carwashes__link {
        display: block;
        margin-top: 10px;
        color: #52b7f7;
        font-weight: 600; }
    .carwashes__section.carwashes__slideshow .carwashes__container img.carwashes__pinned {
      position: absolute;
      left: 50%;
      top: 60%;
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      z-index: 1; }
  .carwashes__section.carwashes__slideshow .carwashes__block.carwashes__show {
    position: absolute;
    left: 50%;
    bottom: 40vh;
    -webkit-transform: translateX(-50%) translateY(50%);
            transform: translateX(-50%) translateY(50%);
    z-index: 10; }
    .carwashes__section.carwashes__slideshow .carwashes__block.carwashes__show .carwashes__circle-ext {
      position: relative;
      display: inline-block;
      padding: 5vh;
      border-radius: 1000px;
      border: 3px #707b8b solid;
      background-color: white; }
      .carwashes__section.carwashes__slideshow .carwashes__block.carwashes__show .carwashes__circle-ext .carwashes__circle-int {
        overflow: hidden;
        position: relative;
        width: 55vh;
        height: 55vh;
        border-radius: 1000px;
        border: 3px #707b8b solid;
        z-index: 3; }
        .carwashes__section.carwashes__slideshow .carwashes__block.carwashes__show .carwashes__circle-ext .carwashes__circle-int img.carwashes__lens {
          background-color: white;
          position: absolute;
          width: 100%;
          z-index: 2; }
        .carwashes__section.carwashes__slideshow .carwashes__block.carwashes__show .carwashes__circle-ext .carwashes__circle-int .carwashes__slider {
          z-index: 1; }
          .carwashes__section.carwashes__slideshow .carwashes__block.carwashes__show .carwashes__circle-ext .carwashes__circle-int .carwashes__slider .carwashes__pic {
            display: block;
            height: 55vh;
            width: 55vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%; }
          .carwashes__section.carwashes__slideshow .carwashes__block.carwashes__show .carwashes__circle-ext .carwashes__circle-int .carwashes__slider .carwashes__pic-1 {
            background-image: url("http://cs10628.vk.me/u168648930/-7/x_2e2ed933.jpg"); }
          .carwashes__section.carwashes__slideshow .carwashes__block.carwashes__show .carwashes__circle-ext .carwashes__circle-int .carwashes__slider .carwashes__pic-2 {
            background-image: url("http://img0.liveinternet.ru/images/attach/c/2//64/340/64340657_Koshki001.jpg"); }
          .carwashes__section.carwashes__slideshow .carwashes__block.carwashes__show .carwashes__circle-ext .carwashes__circle-int .carwashes__slider .carwashes__pic-3 {
            background-image: url("http://cs9952.vk.me/u52960895/-14/x_a8ffe9cf.jpg"); }
      .carwashes__section.carwashes__slideshow .carwashes__block.carwashes__show .carwashes__circle-ext .carwashes__btn {
        position: absolute;
        top: 50%;
        height: 10%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
        opacity: 0; }
      .carwashes__section.carwashes__slideshow .carwashes__block.carwashes__show .carwashes__circle-ext .carwashes__btn:hover {
        opacity: 0.5;
        cursor: pointer; }
      .carwashes__section.carwashes__slideshow .carwashes__block.carwashes__show .carwashes__circle-ext .carwashes__prev {
        left: -12%;
        -webkit-transform: scale(-1, 1) translateY(-50%);
                transform: scale(-1, 1) translateY(-50%); }
      .carwashes__section.carwashes__slideshow .carwashes__block.carwashes__show .carwashes__circle-ext .carwashes__next {
        right: -12%;
        top: 50%; }
      .carwashes__section.carwashes__slideshow .carwashes__block.carwashes__show .carwashes__circle-ext .carwashes__btn-active {
        opacity: 1; }

.carwashes__section.carwashes__video {
  min-height: 100vh;
  min-width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0;
  background-color: #242d3a;
  display: table; }
  .carwashes__section.carwashes__video .carwashes__container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0; }
    .carwashes__section.carwashes__video .carwashes__container .carwashes__video {
      display: inline-block;
      padding: 0;
      margin: 0; }
      .carwashes__section.carwashes__video .carwashes__container .carwashes__video iframe {
        width: 917px;
        height: 516px; }

.carwashes__section.carwashes__request .carwashes__container {
  padding-top: 100px;
  padding-bottom: 100px; }
  .carwashes__section.carwashes__request .carwashes__container .carwashes__block {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "f_helvetica", "Helvetica", sans-serif;
    font-size: 0; }
  .carwashes__section.carwashes__request .carwashes__container .carwashes__block.carwashes__main {
    width: 50%; }
    .carwashes__section.carwashes__request .carwashes__container .carwashes__block.carwashes__main h2 {
      opacity: 0.9;
      font-weight: 300;
      font-size: 35.1px; }
    .carwashes__section.carwashes__request .carwashes__container .carwashes__block.carwashes__main p {
      opacity: 0.7;
      font-weight: 300;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 30px; }
    .carwashes__section.carwashes__request .carwashes__container .carwashes__block.carwashes__main .carwashes__button {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 20px 50px;
      border: 2px solid #f20504;
      border-radius: 100px;
      cursor: pointer;
      color: #f20504;
      font-weight: 600;
      font-size: 16px; }
    .carwashes__section.carwashes__request .carwashes__container .carwashes__block.carwashes__main .carwashes__button:last-child {
      margin-right: 0; }
    .carwashes__section.carwashes__request .carwashes__container .carwashes__block.carwashes__main .carwashes__button:hover {
      color: white;
      background-color: #f20504; }
  .carwashes__section.carwashes__request .carwashes__container .carwashes__block.carwashes__menu {
    margin-top: 12%; }
    .carwashes__section.carwashes__request .carwashes__container .carwashes__block.carwashes__menu .carwashes__menu.carwashes__item {
      display: inline-block;
      margin-right: 19%;
      font-size: 16px; }
      .carwashes__section.carwashes__request .carwashes__container .carwashes__block.carwashes__menu .carwashes__menu.carwashes__item img {
        margin-bottom: 15px; }
      .carwashes__section.carwashes__request .carwashes__container .carwashes__block.carwashes__menu .carwashes__menu.carwashes__item p {
        color: #52b7f7;
        text-weight: 600; }
    .carwashes__section.carwashes__request .carwashes__container .carwashes__block.carwashes__menu .carwashes__menu.carwashes__item:last-child {
      margin-right: 0; }


/*# sourceMappingURL=app.css.map*/